<ng-content select="[waPageSkipToContent]"></ng-content>
<ng-content select="[waPageBanner]"></ng-content>
<ng-content select="[waPageHeader]"></ng-content>
<ng-content select="[waPageSubheader]"></ng-content>
<ng-content select="[waPageNavigationHeader]"></ng-content>
<ng-content select="[waPageNavigation]"></ng-content>
<ng-content select="[waPageNavigationFooter]"></ng-content>
<ng-content select="[waPageMenu]"></ng-content>
<ng-content select="[waPageMainHeader]"></ng-content>
<ng-content></ng-content>
<ng-content select="[waPageMainFooter]"></ng-content>
<ng-content select="[waPageAside]"></ng-content>
<ng-content select="[waPageFooter]"></ng-content>
<ng-content select="[waPageDialogWrapper]"></ng-content>
